.color{
    background-color: #e3f2fd;
}
.function-group {
	padding: 0.8rem;
}

.function-group .function-menu {
	border-bottom: 1px solid #87cefa;
	padding-top: 1.5em;
	margin-bottom: 1em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
}

.function-menu .menu-item {
	display: flex;
	padding: 1em 2em;
	text-align: center;
	border-bottom: 1px solid #fafafa;
	margin-bottom: -2px;
	z-index: 999;
}

.function-menu  .green {
	border-color: #87cefa #87cefa #fafafa;
	border-style: solid;
	border-width: 3px 1px;
	z-index: 999;
	margin-bottom: -2px;
	margin-top: -3px;
	color: #87cefa;
}